VITE_SUPABASE_URL=https://dkaeqyqkprxgbuoqreim.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrYWVxeXFrcHJ4Z2J1b3FyZWltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzOTM3MDcsImV4cCI6MjEwNjk2OTcwN30.urnO37X4y6axMGD4Yx9c-Vj_rqAaBbBI_6gDKZNV7Hs
